body{
    background-color:black;
}

h1 {
    font-family:monospace;
    font-size: 60px;
    text-align: center;
    color: darkolivegreen;
}

.flexgrow-container {
    display: flex;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

.box1 {
    background-color: darkolivegreen;
    font-weight: 900;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.box2 {
    background-color: darkolivegreen;
    font-weight: 900;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.box3 {
    background-color: darkolivegreen;
    font-weight: 900;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

img {
    width: 80%;
    object-fit:contain;
}