body{
    background-color:black;
}

h1 {
    font-family:monospace;
    font-size: 60px;
    text-align: center;
    color: darkolivegreen;
    padding: 35px;
}

p{
  font-family:monospace;
  font-size: 50px;
  text-align: center;
  color: cornsilk;
  padding: 15px;
}

.CARP-project{
  display: flex;
}

.slides :target {
  transform:  scale(1.1);
}

  .slider {
    text-align: center;
    align-items: center;
  }

  .slides {
    align-items: center;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .slide-image{
    align-items: center;
    height: 450px;
    width: fit-content;
  }

  .slides > div {
    display: inline-flex;
    border: 3px solid darkolivegreen;
    scroll-snap-align: start;
    width: fit-content;
    height: 450px;
    margin-right: 110px;
    margin-left: 50px;
    border-radius: 10px;
    background: cornsilk;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .slider > a {
    display: inline-flex;
    width: 5rem;
    height: 4rem;
    background: darkolivegreen;
    color: cornsilk;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 2.5rem 0;
    box-shadow: 1px cornsilk;
    position:center;
    font-family: monospace;
  }

  .slider > a:hover{
    background-color: cornsilk;
    color: darkolivegreen;
}

.slider > a:active{
  background-color: black;
}
  
  @supports (scroll-snap-type) {
    .slider > a {
      display: flex;
    }
  }

    /* typography */
.typography-systems{
  display: flex-wrap;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

.slides1 :target {
  transform:  scale(1.1);
}

.slides1 {
  align-items: center;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides1 > div {
  display:flex;
  border: 3px solid darkolivegreen;
  scroll-snap-align: start;
  width: fit-content;
  height: 250px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: cornsilk;
  transform-origin: center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  justify-content: center;
  align-items: center;
}

  .slider2 {
    text-align: center;
    align-items: center;
  }

  .slide-image1{
    display: flex;
    align-items: center;
    height: 250px;
    width: fit-content;
  }

  .slider2 > a {
    display: inline-flex;
    width: 6.3rem;
    height: 4rem;
    background: darkolivegreen;
    color: cornsilk;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem 1rem 2.5rem 0;
    box-shadow: 1px cornsilk;
    position:center;
    font-family: monospace;
  }

  .slider2 > a:hover{
    background-color: cornsilk;
    color: darkolivegreen;
}

.slider2 > a:active{
  background-color: black;
}
  
  @supports (scroll-snap-type) {
    .slider2 > a {
      display: none;
    }
  }

  
  
  
  













  .flexgrow-container {
    display: flex;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

.box1 {
    background-color: darkolivegreen;
    font-weight: 900;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.box2 {
    background-color: darkolivegreen;
    font-weight: 900;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.box3 {
    background-color: darkolivegreen;
    font-weight: 900;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

img {
    width: 80%;
    object-fit:contain;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: cornsilk;
    font-family: monospace;
    font-size: 23px;
    padding: 5px;
    margin: 11px;
    transition-duration: .4s;
}

button:hover{
    background-color: cornsilk;
    color: darkolivegreen;
}

button:active{
    background-color: black;
    box-shadow: 0 2px cornsilk;
    transform: translateY(1px);
}