body{
    background-color:black;
}

h1 {
    font-family:monospace;
    font-size: 60px;
    text-align: center;
    color: darkolivegreen;
}

.flexgrow-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box1 {
    background-color: darkolivegreen;
    font-weight: 900;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
    height: 500px;
    flex: 1 1 auto;
    padding: 0px 85px 0px 85px;
    align-items: center;
    justify-content: center;
}

.box2 {

    background-color: darkolivegreen;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family:monospace;
    height: 500px;
    flex: 1 1 auto;
    padding: 0px 85px 0px 85px;
}

.box3 {

    background-color: darkolivegreen;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    font-family:monospace;
    height: 500px;
    flex: 1 1 auto;
    padding: 0px 85px 0px 85px;
}